
<%= display_errors %>

<form action="/user/<%= @user.id %>/edit" method="POST">
  <div class="col-md-6 form-group">
  <input type="hidden" name="_method" value="PUT">
    <input name="user[first_name]" class="form-control" type="text" placeholder="First Name" value="<%= @user.first_name %>" />
  </div>
  <div class="col-md-6 form-group">
    <input name="user[last_name]" class="form-control" type="text" placeholder="Last Name" value="<%= @user.last_name %>"/>
  </div>
  <div class="col-md-6 form-group" class="dropdown">
    Gender:
    <select name="user[gender]" >
      <option value="male">male</option>
      <option value="female">female</option>
    </select>
  </div>
  <div class="col-md-6 form-group" class="dropdown">
    Looking For:
    <select name="user[looking_for]">
      <option value="male">male</option>
      <option value="female">female</option>
    </select>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[email]" class="form-control" type="text" placeholder="Email" value="<%= @user.email %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[user_name]" class="form-control" type="text" placeholder="Username" value="<%= @user.user_name %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[password]" class="form-control" type="text" placeholder="Password" value="<%= @user.password %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[location]" class="form-control" type="text" placeholder="Location" value="<%= @user.location %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[hair_color]" class="form-control" type="text" placeholder="Hair Color" value="<%= @user.hair_color %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[eye_color]" class="form-control" type="text" placeholder="Eye Color" value="<%= @user.eye_color %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[race]" class="form-control" type="text" placeholder="Race" value="<%= @user.race %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[religion]" class="form-control" type="text" placeholder="Religion" value="<%= @user.religion %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[age]" class="form-control" type="text" placeholder="Age" value="<%= @user.age %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[about]" class="form-control" type="text" placeholder="About" value="<%= @user.about %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[photo]" class="form-control" type="text" placeholder="Photo" value="<%= @user.photo %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[height]" class="form-control" type="text" placeholder="Height" value="<%= @user.height %>"/>
  </div>
  <div class="col-md-6 form-group">
    <input name="user[weight]" class="form-control" type="text" placeholder="Weight" value="<%= @user.weight %>"/>
  </div>

  <div class="col-md-6 form-group">
    Select Your STI
   <select name="std">
     <% Std.all.each do |std|%>
       <option value="<%= std.id%>"><%= std.name%></option>
     <% end %>
   </select>
  </div>

  <span class="clearfix">
  <input type="submit" value="Create Profile" class="btn btn-danger">
</form>




<!--
<form action="/user/<%= @user.id %>/edit" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <h3>First Name:</h3>
  <input name="user[first_name]" type="text" value="<%= @user.first_name %>">
  <h3>Last Name:</h3>
  <input name="user[last_name]" type="text" value="<%= @user.last_name %>">
    <h3>Gender:</h3>
  <select name="user[gender]">
    <option value="<%= @user.gender %>">Current selection:<%= @user.gender %></option>
    <option value="male">male</option>
    <option value="female">female</option>
  </select>
  <h3>I am looking for:</h3>
   <select name="user[looking_for]">
    <option value="<%= @user.looking_for %>">Current selection:<%= @user.looking_for %></option>
    <option value="male">male</option>
    <option value="female">female</option>
  </select>
  <h3>E-mail:</h3>
  <input name="user[email]" type="text" value="<%= @user.email %>">
  <h3>Username:</h3>
  <input name="user[user_name]" type="text" value="<%= @user.user_name %>">
  <h3>Password:</h3>
  <input name="user[password]" type="text" value="<%= @user.password %>">
  <h3>Location:</h3>
  <input name="user[location]" type="text" value="<%= @user.location %>">
  <h3>Hair Color:</h3>
  <input name="user[hair_color]" type="text" value="<%= @user.hair_color %>">
  <h3>Eye Color:</h3>
  <input name="user[eye_color]" type="text" value="<%= @user.eye_color %>">
  <h3>Race:</h3>
  <input name="user[race]" type="text" value="<%= @user.race %>">
  <h3>Religion:</h3>
  <input name="user[religion]" type="text" value="<%= @user.religion %>">
  <h3>Age:</h3>
  <input name="user[age]" type="text" value="<%= @user.age %>">
  <h3>About:</h3>
  <textarea name="user[about]" type="text"><%= @user.about %></textarea>
  <h3>Photo:</h3>
  <input name="user[photo]" type="text" value="<%= @user.photo %>">
  <h3>Height:</h3>
  <input name="user[height]" type="text" value="<%= @user.height %>">
  <h3>Weight:</h3>
  <input name="user[weight]" type="text" value="<%= @user.weight %>">

  <select name="std">
     <% Std.all.each do |std|%>
       <option value="<%= std.id%>"><%= std.name%></option>
     <% end %>
 </select>

  <input type="submit" value="Update Profile">
</form> -->

